.correct-answer {
    -fx-text-fill: green;
    -fx-background-color: lightgreen;
}
.correct-answer:disabled {
    -fx-opacity: 1;
    -fx-text-fill: green;
    -fx-background-color: lightgreen;
}
.incorrect-answer {
    -fx-text-fill: red;
    -fx-background-color: pink;
}
.background {
-fx-background-color: linear-gradient(to bottom, #7CB9E8, #6CB4EE);
}
